:root {
    --main_color: #0A66C2;
    --text_color: #292929;
    --white_color: #ffffff;
    --hover_color: #3380cc;
    --clicked_color: #074481;
    --disabled_color: #a8a8a8;
    --side_navbar_width: 332px;
    --search_bar_color: #D2D2D2;
    --error_color: #FF4040;
}

.dashboard-page {
    margin-left: var(--side_navbar_width);
    overflow-y: scroll;
}

.dashboard,
.all-schools,
.all-feeds {
    padding: 0px 0px 150px 46px;
}

.school-list,
.all-schools,
.all-feeds {
    width: 88%;
}

.school-list h1,
.all-schools h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin: 0px 0px 16px;
}

.schools-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
    background-color: #FEFEFE;
}

.schools-header p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin: 32px 0px 16px;
}

.schools-header button {
    background-color: #FEFEFE;
    color: #FEFEFE;
    border: none;
}

.school {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
    background-color: #FEFEFE;
    border-bottom: 0.5px solid #292929;
}

.list-school-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.list-school-location {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    color: #a8a8a8;
}

.school a,
.view-all-schools {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--main_color);
    text-decoration: none;
}

.view-schools-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}

.feeds {
    width: 88%;
}

.feeds h1,
.all-feeds h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin: 32px 0px 16px;
}

.all-feeds h1 {
    margin-top: 0;
}

.feed {
    width: 100%;
    height: auto;
    padding: 32px;
    background-color: #FEFEFE;
    border: 0.5px solid #A8A8A8;
    border-radius: 8px;
    margin-bottom: 16px;
}

.feed-header {
    display: flex;
}

.feed-school-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.feed-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.feed-location {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #A8A8A8;
    margin: 0;
}

.feed-body {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: justify;
    margin: 16px 0px;
}

.feed-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-iteraction {
    display: flex;
}

.feed-iteraction button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.feed-iteraction button svg {
    margin-right: 6px;
}

.feed-timstamp {
    /* flex-grow: 1; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
}

.feed-timstamp p {
    text-align: end;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #A8A8A8;
    flex-grow: 1;
    white-space: nowrap;
    margin: 0;
    margin-left: 8px;
}



@media screen and (max-width:576px) {
    .dashboard-page {
        margin-left: 0;
    }

    .dashboard,
    .all-schools,
    .all-feeds {
        padding: 0px 16px 150px 16px;
    }

    .school-list,
    .all-schools,
    .all-feeds {
        width: 100%;
    }

    .school-list h1,
    .all-schools h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin: 0px 0px 32px;
    }

    .school-list h1 {
        margin-top: 32px;
    }

    .list-school-location,
    .schools-header {
        display: none;
    }

    .feeds,
    .all-feeds {
        width: 100%;
    }

    .feeds,
    .all-feeds h1 {
        font-weight: 500;
        line-height: 36px;
    }

    .feed {
        height: auto;
        margin-bottom: 8px;
    }

    .feed-body {
        -webkit-line-clamp: 8;
    }
}