:root {
    --main_color: #0A66C2;
    --text_color: #292929;
    --white_color: #ffffff;
    --hover_color: #3380cc;
    --clicked_color: #074481;
    --disabled_color: #a8a8a8;
    --side_navbar_width: 332px;
    --search_bar_color: #D2D2D2;
    --error_color: #FF4040;
}

.dashboard-page {
    margin-left: var(--side_navbar_width);
    overflow-y: scroll;
}

.dashboard,
.all-schools {
    padding: 0px 0px 80px 46px;
}

.school-list,
.all-schools {
    width: 88%;
}

.school-list h1,
.all-schools h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin: 0px 0px 16px;
}

.schools-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
    background-color: #FEFEFE;
}

.schools-header p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin: 32px 0px 16px;
}

.schools-header button {
    background-color: #FEFEFE;
    color: #FEFEFE;
    border: none;
}

.school {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
    background-color: #FEFEFE;
    border-bottom: 0.5px solid #292929;
}

.list-school-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.list-school-location {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    color: #a8a8a8;
}

.school a,
.view-all-schools {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--main_color);
    text-decoration: none;
}

.view-schools-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}



@media screen and (max-width:576px) {
    .dashboard-page {
        margin-left: 0;
    }

    .dashboard,
    .all-schools {
        padding: 0px 16px 40px 16px;
    }

    .school-list,
    .all-schools {
        width: 100%;
    }

    .school-list h1,
    .all-schools h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin: 0px 0px 32px;
    }

    .school-list h1 {
        margin-top: 32px;
    }

    .list-school-location,
    .schools-header {
        display: none;
    }
}