:root {
    --main_color: #0A66C2;
    --text_color: #292929;
    --white_color: #ffffff;
    --hover_color: #3380cc;
    --clicked_color: #074481;
    --disabled_color: #a8a8a8;
    --side_navbar_width: 332px;
    --search_bar_color: #D2D2D2;
    --error_color: #FF4040;
}

.debt-summary-page {
    margin-left: var(--side_navbar_width);
    overflow-y: scroll;
}

@media screen and (max-width:576px) {

    .debt-summary-page {
        margin-left: 0;
    }
}