:root {
    --main_color: #0A66C2;
    --footer_color: #0855A2;
    --text_color: #292929;
    --white_color: #ffffff;
    --hover_color: #3380cc;
    --clicked_color: #074481;
    --disabled_color: #a8a8a8;
    --error_color: #FF4040;
}

.login {
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    color: var(--text_color);
}

.login-entry-image {
    background-image: url("../img/Rectangle\ 90.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 40%;
    height: 100%;

}

.login-image-cover {
    background-color: rgba(61, 61, 61, 0.37);
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: 100%;
    width: 100%;
}

/* .login-entry-logo {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0);
    border: none;
} */

.login-home {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.login-entry-text {
    margin-top: 40%;
}

.login-entry-head {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: var(--white_color);
}

.login-entry-body {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: var(--white_color);
}

.login-form-container {
    padding: 40px 60px;
    flex-grow: 1;
    background-color: var(--white_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 60%; */
    /* background-color: aqua; */
}

/* .login-form-back {
    width: 60%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.login-logo {
    display: none;
}

.login-head {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: var(--main_color);
    margin: 0;
    width: 80%;
    max-width: 516px;
    text-align: center;
}

.login-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    width: 80%;
    max-width: 516px;
    text-align: center;
}

.login-invalid {
    margin: 16px 0px 24px;
    height: 44px;
    width: 100%;
    max-width: 516px;
    color: var(--white_color);
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.password-err {
    border: 2px solid #FF4040;
    background-color: #ff4040;
}

.login-invalid svg {
    margin: 12px;
}

.login-form {
    width: 80%;
    max-width: 516px;
    /* background-color: blue; */
}

.login-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 4px;
}

.login-input {
    max-width: 516px;
    width: 100%;
    height: 48px;
    background: #FEFEFE;
    border: 1px solid #7E7E7E;
    border-radius: 8px;
    /* margin-bottom: 16px; */
    padding: 0px 8px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.login-pswd input {
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    flex-grow: 1;
}

.login-showpwd {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.login input:focus {
    /* outline-color: var(--main_color); */
    outline: none;
}

.login-password {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -16px;
    margin-bottom: 16px;
}

.login-error {
    border: 1px solid var(--error_color);
}

.login-remember {
    display: flex;
    justify-content: space-between;
}

.login .valid {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text_color);
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.login label {
    height: 22px;
    width: 22px;
    position: relative;
}

.login label input {
    opacity: 0;
    width: 0;
    height: 0;
}


.login label span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    width: 24px;
    background-color: #fcfcfc;
    border: 1px solid #7E7E7E;
    border-radius: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sets the background color when checked */
.login label input:checked+span {
    background-color: var(--main_color);
}

.login label input:focus+span {
    box-shadow: 0 0 1px var(--main_color);
}

.login .valid p {
    margin-left: 8px;
}

.login .okay {
    color: var(--text_color);
}

.forgot-pwd {
    color: var(--main_color);
    font-style: italic;
}

/* .login .confirm-err {
    color: #fc1010;
    animation: shake 0.4s;
} */
/* 
@keyframes shake {
    0% {
        transform: translateX(0)
    }

    20% {
        transform: translateX(10px);
    }

    40% {
        transform: translateX(-10px);
    }

    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0px);
    }
} */

.login-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 516px;
    margin-top: 44px;
}

.login-btn {
    padding: 16px 32px;
    /* max-width: 210px; */
    width: 100%;
    height: 54px;
    background-color: var(--main_color);
    border-radius: 8px;
    color: var(--white_color);
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.login-btn:hover {
    background-color: var(--hover_color);
}

.login-btn:active {
    background-color: var(--clicked_color);
}

.already-user {
    margin: 24px 0px 0px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #5D5D5D;

}

.already-user a {
    color: var(--main_color);
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    .login {
        height: auto;
    }

    .login-entry-image {
        display: none;
    }

    .login-form-container {
        padding: 20px 10px 100px;
    }

    .login-logo {
        display: block;
        width: 100%;
    }

    .login-head {
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        margin-top: 73px;
        width: 100%;
    }

    .login-text {
        font-size: 16px;
        line-height: 22px;
        width: 100%;
    }

    .login-invalid svg {
        transform: scale(0.8);
    }

    .login-invalid-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
    }

    .login-form {
        width: 100%;
    }
}