:root {
    --main_color: #0A66C2;
    --footer_color: #0855A2;
    --text_color: #292929;
    --white_color: #ffffff;
    --hover_color: #3380cc;
    --clicked_color: #074481;
    --disabled_color: #a8a8a8;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 40px 72px 0px 72px;
    margin-bottom: 20px;
}

nav .left-nav {
    display: flex;
    align-items: center;
}

nav .middle-nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 378px; */
    height: 27px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

nav .middle-nav a {
    text-decoration: none;
    color: var(--text_color);
    margin-right: 32px;
}

nav .middle-nav a:hover {
    color: var(--hover_color);
}

nav .middle-nav a:active {
    color: var(--clicked_color);
}

nav a.active {
    border-bottom: 4px solid var(--main_color);
    border-radius: 6px;
}

nav .right-nav {
    width: 201px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.welcome-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 16px;
    border: 1.5px solid var(--main_color);
    border-radius: 8px;
    color: var(--main_color);
    cursor: pointer;
    text-decoration: none;
    background-color: var(--white_color);
}

.welcome-login-btn:hover {
    border: 1.5px solid var(--hover_color);
    color: var(--hover_color);
}

.welcome-login-btn:active {
    border: 1.5px solid var(--clicked_color);
    color: var(--clicked_color);
}

.welcome-signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    color: var(--white_color);
    cursor: pointer;
    text-decoration: none;
    background-color: var(--main_color);
}

.welcome-signup-btn:hover {
    background-color: var(--hover_color);
}

.welcome-signup-btn:active {
    background-color: var(--clicked_color);
}

.hamburger {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    display: none;
}

.show {
    display: none;
}

.show button {
    height: 50px;
    cursor: pointer;
    background-color: var(--main_color);
    border: none;
    border-bottom: 2px solid var(--white_color);
    color: var(--white_color);
    font-size: 16px;
    font-weight: 500;
}

.show button:hover {
    background-color: var(--hover_color);
}

.show button:active {
    background-color: var(--clicked_color);
}

@media screen and (max-width: 576px) {

    ::-webkit-scrollbar {
        width: 5px;
    }

    nav {
        padding: 16px;
        padding-top: 40px;
    }

    nav .middle-nav,
    nav .right-nav {
        display: none;
    }

    .left-nav {
        flex-grow: 1;
    }

    .showNavDropdown {
        display: block;
        cursor: pointer;
    }

    .hamburger {
        display: block;
    }

    .show {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 70px;
        right: 2.5%;
        width: 95%;
        z-index: 2;
        /* max-width: 380px; */
    }

}